/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("../assets/fonts/Inter/stylesheet.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}
body.no-scroll {
  position: relative;
  overflow: hidden;
}

.page {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0px 16px;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  margin-top: 53px;
  transition: 0.3s;
}
.header--burger {
  background-color: #003f80;
}
.header--burger .header__logo-link path {
  fill: #fff;
}
.header--burger .header__burger-btn path {
  stroke: #fff;
}
.header__logo-link path, .header__burger-btn path {
  transition: 0.3s;
}
.header__wrapper {
  justify-content: space-between;
  gap: 16px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__nav-link {
  position: relative;
  color: #003f80;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__nav-link::after {
  content: "";
  width: 100%;
  height: 1.5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -5px;
  background-color: #003f80;
  max-width: 0%;
  transition: 0.3s;
}
.header__nav-link:hover {
  color: #0454a3;
}
.header__nav-link:active {
  color: #012b55;
}
.header__nav-link:hover::after {
  max-width: 20%;
}
.header__burger-btn {
  cursor: pointer;
  display: none;
}

.tel-link {
  position: relative;
  color: #003f80;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s;
}
.tel-link::after {
  content: "";
  width: 100%;
  height: 1.5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -5px;
  background-color: #003f80;
  max-width: 0%;
  transition: 0.3s;
}
.tel-link:hover::after {
  max-width: 20%;
}

.promo-section {
  padding-top: 97px;
}
.promo-section__wrapper {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
.promo-section__wrapper::after {
  position: absolute;
  right: -58px;
  top: -37px;
  content: "";
  width: 587px;
  height: 591px;
  background-image: url("../assets/img/promo-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.promo-section__slogan {
  color: #000;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.361%;
  margin-bottom: 30px;
}
.promo-section__heading {
  max-width: 799px;
  margin-bottom: 97px;
}
.promo-section__content {
  width: 100%;
  padding-top: 43px;
  padding-bottom: 18px;
  background: #f13c6e;
}
.promo-section__text-content {
  width: 100%;
  max-width: 725px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 32px;
}
.promo-section__text-content p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.386%; /* 33.693px */
}
.promo-section__content-wrapper {
  flex-direction: column;
  align-items: flex-start;
}
.promo-section__group {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  gap: 29px;
}
.promo-section__group-img {
  width: 100%;
  height: 130px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.promo-section__group-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.promo-section__group-item-subtext {
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.promo-section__group-item-count {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.promo-section__group-item-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.386%;
}
.promo-section__btn {
  margin-top: 33px;
  padding: 11px 27px;
  border-radius: 28.5px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.38);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.386%; /* 25.27px */
  transition: 0.3s;
}
.promo-section__btn:hover {
  background-color: transparent;
}
.promo-section__btn:active {
  transform: scale(0.95);
}

.heading {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.what-section {
  padding-top: 97px;
  padding-bottom: 99px;
}
.what-section__wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.what-section__text {
  max-width: 1107px;
  margin-bottom: 60px;
}
.what-section__list {
  width: 100%;
  margin-bottom: 60px;
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: 373px;
  justify-content: space-between;
  gap: 40px;
}
.what-section__card {
  position: relative;
  width: 100%;
  border-radius: 15px;
  background: rgba(0, 63, 128, 0.87);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding-top: 53px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.what-section__card-heading {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 19px;
}
.what-section__card-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;
}
.what-section__card-text-content p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.what-section__card-bg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.what-section__box {
  width: 100%;
  margin-bottom: 60px;
  border-radius: 20px;
  background: #f13c6e;
  padding: 60px 84px 60px 67px;
}
.what-section__box-text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.386%;
}
.what-section__box-text span {
  font-weight: 800;
}
.what-section__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.subheading {
  margin-bottom: 30px;
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  color: #000;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.361%;
}

.btn {
  padding: 22px 47px;
  border-radius: 38.5px;
  border: 3px solid #003f80;
  color: #003f80;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 140.386%; /* 33.693px */
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover, .btn:active {
  color: #f13c6e;
  border: 3px solid #f13c6e;
}

.gallery-section__wrapper {
  flex-direction: column;
  align-items: flex-end;
}
.gallery-section__swiper {
  width: 100%;
  overflow: visible;
}
.gallery-section__swiper .swiper-slide {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;
}
.gallery-section__swiper .swiper-slide:hover {
  transform: scale(1.1);
}
.gallery-section__img {
  width: 262px;
  height: 262px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery-section__navigation {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-top: 52px;
}
.gallery-section__navigation-btn {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: 0.3s;
}
.gallery-section__navigation-btn:active {
  transform: scale(0.95);
}
.gallery-section__navigation .swiper-button-disabled {
  opacity: 0.3;
}

.price-section {
  padding-top: 71px;
  padding-bottom: 112px;
}
.price-section__mobile-btn {
  display: none;
}
.price-section__wrapper {
  gap: 147px;
}
.price-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.price-section__text-content {
  max-width: 493px;
  margin-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 40px;
}
.price-section__text-content p {
  color: #000;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.361%;
}
.price-section__text-content p span {
  font-weight: 700;
}
.price-section__table {
  display: flex;
  padding-top: 53px;
  padding-right: 74px;
  padding-bottom: 56.5px;
  padding-left: 48px;
  border-radius: 15px;
  border: 1px solid #000;
  background: #003f80;
}
.price-section__table-col {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 42px;
}
.price-section__table-col:first-child {
  border-right: 1px solid #fff;
}
.price-section__table-col:last-child {
  padding-left: 40px;
}
.price-section__table-col-heading {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.361%;
}
.price-section__table-col-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 38px;
}
.price-section__table-col-body-item {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.361%;
}

.request-section {
  padding-top: 71px;
  padding-bottom: 71px;
}
.request-section__wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  background-image: url("../assets/img/7.png");
  background-size: 424px;
  background-repeat: no-repeat;
  background-position: right center;
}
.request-section__text {
  margin-bottom: 52px;
}
.request-section__text a,
.request-section__text span {
  font-weight: bold;
}

.form {
  width: 100%;
  max-width: 707px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.form__fieldset {
  width: 100%;
  margin-bottom: 16px;
}
.form__input {
  width: 100%;
  padding: 15px 36px;
  border-radius: 61px;
  border: 1px solid #616161;
  background: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.361%;
  color: #000;
  transition: 0.3s;
}
.form__input.invalid {
  border: 1px solid #f13c6e;
}
.form__input:focus {
  outline: none;
  border: 1px solid #0454a3;
}
.form__input::-moz-placeholder {
  color: #cbcbcb;
}
.form__input::placeholder {
  color: #cbcbcb;
}
.form__footer {
  margin-top: 67px;
  display: flex;
  align-items: center;
  gap: 45px;
}
.form__btn {
  background-color: transparent;
  padding: 22px;
  width: 100%;
  max-width: 387px;
  text-align: center;
}
.form__subtext {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.361%;
}
.form__subtext a,
.form__subtext span {
  color: #003f80;
}

.contacts-section {
  padding-top: 63px;
  padding-bottom: 82px;
  background: #003f80;
}
.contacts-section__subtext {
  display: none;
}
.contacts-section__wrapper {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  background-image: url("../assets/img/contacts-bg.png");
  background-repeat: no-repeat;
  background-position: bottom -113px right 0;
}
.contacts-section__info {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.contacts-section__info p {
  color: #fff;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.361%;
}
.contacts-section__info p span {
  font-weight: bold;
}
.contacts-section__btn {
  color: #fff;
  border: 3px solid #fff;
}
.contacts-section__btn:hover {
  color: #000;
  border: 3px solid #000;
}

.subheading--white {
  margin-bottom: 60px;
  color: #fff;
}

.go-up {
  cursor: pointer;
  position: absolute;
  right: 32px;
  bottom: 0;
}

.overlay {
  position: fixed;
  margin-top: 57px;
  padding: 101px 40px 40px 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 5;
  background-color: #003f80;
  transition: 0.3s;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}
.overlay.active {
  opacity: 1;
  transform: translateX(0%);
  visibility: visible;
}
.overlay__nav {
  margin-bottom: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 32px;
}
.overlay__nav-link {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s;
}
.overlay__nav-link::after {
  content: "";
  width: 100%;
  height: 1.5px;
  bottom: -3px;
  background-color: #f13c6e;
  max-width: 0%;
  position: absolute;
  left: 0;
  transition: 0.3s;
  z-index: 6;
}
.overlay__nav-link:focus {
  color: #f13c6e;
}
.overlay__nav-link:focus::after {
  max-width: 100%;
}
.overlay__tel-link {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 1180px) {
  .price-section__wrapper {
    gap: 16px;
  }
  .contacts-section__wrapper {
    background-position: bottom 36px right -53px;
    background-size: 500px;
  }
}
@media (max-width: 1128px) {
  .header {
    margin-top: 0;
    padding-top: 24px;
  }
  .header__nav {
    gap: 24px;
  }
  .header__tel-link {
    font-size: 18px;
  }
  .header__logo-link svg {
    width: 120px;
  }
  .promo-section__wrapper::after {
    right: -17px;
    top: -59px;
    width: 452px;
    height: 613px;
  }
}
@media (max-width: 1108px) {
  .promo-section__group {
    grid-template-columns: repeat(2, 1fr);
  }
  .promo-section__group-img {
    width: auto;
  }
}
@media (max-width: 1024px) {
  .promo-section__wrapper::after {
    right: -17px;
    top: -110px;
    width: 370px;
    height: 369px;
  }
  .promo-section__slogan {
    font-size: 20px;
  }
  .promo-section__heading {
    max-width: 720px;
  }
  .promo-section__text-content {
    max-width: unset;
  }
  .heading {
    font-size: 36px;
  }
}
@media (max-width: 960px) {
  .header__tel-link {
    font-size: 16px;
  }
}
@media (max-width: 920px) {
  .header__nav, .header__tel-link {
    display: none;
  }
  .header__burger-btn {
    display: initial;
    border: none;
    padding: 0;
    background-color: transparent;
  }
  .promo-section__wrapper {
    padding-right: 354px;
  }
  .promo-section__wrapper::after {
    top: -73px;
  }
  .btn {
    padding: 13px 34px;
    font-size: 18px;
  }
  .price-section__text-content {
    max-width: unset;
  }
  .price-section__wrapper {
    gap: 64px;
    flex-direction: column;
  }
  .price-section__table {
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }
  .contacts-section {
    padding-bottom: 0;
  }
  .contacts-section__wrapper {
    background-position: bottom -90px center;
    padding-bottom: 350px;
  }
  .go-up {
    bottom: 49px;
    right: 40px;
  }
  .go-up svg {
    width: 67px;
    height: 67px;
  }
}
@media (max-width: 768px) {
  .promo-section__wrapper::after {
    top: -46px;
  }
  .form {
    max-width: unset;
  }
  .request-section__text {
    margin-bottom: 240px;
  }
  .request-section__wrapper {
    background-size: 240px;
    background-position: bottom 440px center;
  }
}
@media (max-width: 720px) {
  .what-section__menu {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: start;
  }
}
@media (max-width: 675px) {
  .header {
    padding-top: 51px;
  }
  .promo-section__wrapper {
    padding-right: 16px;
  }
  .overlay {
    margin-top: 84px;
  }
  .promo-section__group {
    grid-template-columns: 1fr;
  }
  .promo-section__wrapper::after {
    top: unset;
    bottom: -681px;
  }
  .header__logo-link svg {
    width: 173px;
  }
  .promo-section {
    padding-top: 36px;
  }
  .promo-section__wrapper::after {
    width: 191px;
    height: 191px;
    right: 23px;
    bottom: -360px;
  }
  .promo-section__slogan {
    margin-bottom: 17px;
    max-width: 257px;
    font-size: 16px;
    font-weight: 500;
  }
  .promo-section__heading {
    max-width: 364px;
    margin-bottom: 41px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .promo-section__content {
    padding-top: 47px;
  }
  .promo-section__text-content {
    margin-bottom: 43px;
  }
  .promo-section__text-content p {
    font-size: 15px;
    line-height: 140.386%; /* 21.058px */
  }
  .promo-section__group {
    display: flex;
    flex-direction: column;
    padding-right: 216px;
    position: relative;
    align-items: flex-start;
  }
  .promo-section__group-img {
    order: 4;
  }
  .promo-section__group-item:nth-child(1) {
    order: 4;
  }
  .promo-section__group-item:nth-child(2) {
    order: 1;
  }
  .promo-section__group-item:nth-child(3) {
    order: 2;
  }
  .promo-section__group-item:nth-child(4) {
    order: 3;
  }
  .promo-section__btn {
    right: 13px;
    bottom: 13px;
    position: absolute;
  }
  .overlay__nav {
    gap: 12px;
  }
  .overlay__nav-link {
    font-size: 24px;
  }
  .subheading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 19px;
  }
  .what-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .what-section__list {
    margin-bottom: 43px;
  }
  .what-section__text {
    margin-bottom: 71px;
  }
  .what-section__box {
    margin-bottom: 43px;
    padding-top: 43px;
    padding-right: 32px;
    padding-bottom: 42px;
    padding-left: 38px;
  }
  .what-section__box-text {
    font-size: 20px;
  }
  .what-section__menu {
    gap: 25px;
  }
  .text {
    font-size: 16px;
  }
  .price-section {
    padding-top: 118px;
    padding-bottom: 64px;
  }
  .price-section__wrapper {
    padding: 0;
  }
  .price-section__content {
    padding: 0px 16px;
  }
  .price-section__text-content {
    gap: 21px;
    margin: 0;
  }
  .price-section__text-content p {
    font-size: 16px;
  }
  .price-section__btn {
    display: none;
  }
  .price-section__table-col-body-item {
    font-size: 16px;
  }
  .price-section__mobile-btn {
    display: inline-block;
  }
  .price-section__table {
    width: 100%;
    padding: 24px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0;
  }
  .price-section__table-col-body {
    gap: 29px;
  }
  .price-section__table-col:first-child {
    max-width: 191px;
    padding-right: 24px;
  }
  .price-section__table-col:last-child {
    padding-left: 24px;
    gap: 67px;
  }
  .price-section__table-col:last-child .price-section__table-col-body {
    gap: 64px;
  }
  .price-section__table-col-heading {
    font-size: 16px;
  }
  .request-section {
    padding-top: 64px;
  }
  .request-section .subheading, .request-section__text {
    max-width: 370px;
    margin: 0 auto;
  }
  .request-section .subheading {
    margin-bottom: 24px;
  }
  .request-section__wrapper {
    background: none;
  }
  .request-section__text {
    margin-bottom: 46px;
  }
  .form {
    max-width: 370px;
    margin: 0 auto;
  }
  .form__input {
    padding: 15px 18px;
    font-size: 20px;
  }
  .form__footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 51px;
    justify-content: center;
  }
  .contacts-section {
    padding-top: 64px;
  }
  .contacts-section__wrapper {
    background-position: bottom -6px center;
  }
  .contacts-section__info p {
    font-size: 18px;
  }
  .contacts-section .btn {
    display: none;
  }
}
@media (max-width: 525px) {
  .contacts-section__info {
    max-width: 370px;
  }
  .contacts-section__subtext {
    max-width: 370px;
    display: inline-block;
    margin-bottom: 42px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 137.361%;
  }
  .contacts-section__subtext a {
    font-weight: 700;
  }
}
@media (max-width: 425px) {
  .promo-section__wrapper::after {
    right: 1px;
    bottom: -383px;
  }
  .promo-section__btn {
    bottom: 37px;
    right: 0;
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */